<!-- home section starts  -->
{{#if hasErrorMessages}}
    {{showAlert}}
{{/if}}
<div class="home-container">

    <section class="home" id="home">

        <div class="row">

            <div class="content">
                <h3>Descuento hasta de un 75% off</h3>
                <p>Biblos casa de los libros
                    Es tu tienda de libros en Internet donde podrás encontrar cualquier novela,
                    obra y buscar libros por su autor o título.</p>
                <a href="#" class="btn">comprar ahora</a>
            </div>

            <div class="swiper books-slider">
                <div class="swiper-wrapper">
                    {{#each books as |book| }}

                    <a href="#" class="swiper-slide"><img src="{{book.img}}" alt=""></a>
                    {{/each}}
                    {{!-- <a href="#" class="swiper-slide"><img src="/assets/image/book-2.png" alt=""></a>
                    <a href="#" class="swiper-slide"><img src="/assets/image/book-3.png" alt=""></a>
                    <a href="#" class="swiper-slide"><img src="/assets/image/book-4.png" alt=""></a>
                    <a href="#" class="swiper-slide"><img src="/assets/image/book-5.png" alt=""></a>
                    <a href="#" class="swiper-slide"><img src="/assets/image/book-6.png" alt=""></a> --}}
                </div>
                <img src="/assets/image/stand.png" class="stand" alt="">
            </div>

        </div>

    </section>

</div>

<!-- home section ense  -->

<!-- icons section starts  -->

<section class="icons-container">

    <div class="icons">
        <i class="fas fa-shipping-fast"></i>
        <div class="content">
            <h3>Envío gratis</h3>
            <p>Pedido superior a RD$ 2,500</p>
        </div>
    </div>

    <div class="icons">
        <i class="fas fa-lock"></i>
        <div class="content">
            <h3> Pago seguro</h3>
            <p>100 Pago Seguro</p>

        </div>
    </div>

    <div class="icons">
        <i class="fas fa-redo-alt"></i>
        <div class="content">
            <h3>Devoluciones fáciles</h3>
            <p>10 Días Devoluciones</p>

        </div>
    </div>

    <div class="icons">
        <i class="fas fa-headset"></i>
        <div class="content">
            <h3>Soporte 24/7</h3> Soporte 24/7
            <p>Llámenos en cualquier momento</p>
        </div>
    </div>

</section>

<!-- icons section ends -->

<!-- featured section starts  -->

<section class="featured" id="featured">

    <h1 class="heading"> <span>Libros destacados</span> </h1>

    <div class="swiper featured-slider">

        <div class="swiper-wrapper">

            {{#each books as |book| }}

            <div class="swiper-slide box">
                <div class="icons">
                    <a href="#" class="fas fa-search"></a>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img src="{{book.img}}" alt="">
                </div>
                <div class="content">
                    <h3>Libro destacado</h3>
                    <div class="price">RD$ {{getDiscount book.price}} <span>RD$ {{book.price}}</span></div>
                    <a href="#" class="btn">añadir a la cesta</a>
                </div>
            </div>
            {{/each}}


        </div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

    </div>

</section>

<!-- featured section ends -->

<!-- newsletter seccion -->

<div class="newsletter-container">

    <section class="newsletter">

        <form action="">
            <h3>Suscríbete para recibir las últimas actualizaciones</h3>
            <input type="email" name="" placeholder="Introduce tú correo" id="" class="box">
            <input type="submit" value="Suscríbete" class="btn">
        </form>

    </section>

</div>

<!-- newsletter section ends -->

<!-- arrivals section starts  -->

<section class="arrivals" id="arrivals">

    <h1 class="heading"> <span>Los recién llegados</span> </h1>

    <div class="swiper arrivals-slider">

        <div class="swiper-wrapper">
            {{#each books as |book| }}
            <a href="#" class="swiper-slide box">
                <div class="image">
                    <img src="{{book.img}}" alt="">
                </div>
                <div class="content">
                    <h3>{{book.title}}</h3>
                    <div class="price">RD$ {{book.price}} </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
            </a>
            {{/each}}



        </div>

    </div>

   

</section>

<!-- seccion de libros  -->

<!-- comienza seccion de ofertas  -->

<div class="deal-container">

    <section class="deal">

        <div class="content">
            <h3>Oferta del día</h3>
            <h1>Hasta 50% de descuento</h1>
            <p>El primer audiolibro es gratis. Además, escucha podcasts exclusivos, audiolibros, Originales y mucho
                más.</p>
            <a href="/" class="btn">Compra ahora</a>
        </div>

        <div class="image">
            <img src="/assets/image/deal-img.jpg" alt="">
        </div>

    </section>


</div>

<!-- Terminia seccion de ofertas -->

<!-- reviews seccion   -->

<section class="reviews" id="reviews">

    <h1 class="heading"> <span>reviews de nuestros clientes</span> </h1>

    <div class="swiper reviews-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide box">
                <img src="/assets/image/pic-1.png" alt="">
                <h3>Estefano Smith</h3>
                <p> La atención muy agradable por parte de todo el personal que estuvo atento a cuando pedía algún
                    libro o indicación.</p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="/assets/image/pic-2.png" alt="">
                <h3>Amelia Williams</h3>
                <p>Es una librería extraordinaria. Conseguí muchos libros aquí que no lograba ubicar por ningún
                    lugar.</p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="/assets/image/pic-3.png" alt="">
                <h3>Sebastian Jones</h3>
                <p>Trabajan con muchas editoriales, inclusive algunas españolas que no se consiguen por ninguna
                    parte. </p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>
            <div class="swiper-slide box">
                <img src="/assets/image/pic-4.png" alt="">
                <h3>Aimée Robinson</h3>
                <p>Lo bueno que tienen es que los libros los tienen envasados, empacados en nylon, preservándolos de
                    la humedad y el manoseo.</p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="/assets/image/img 5.jpg" alt="">
                <h3>Donald Chavez</h3>
                <p>Aquí conseguí un libro editado hace más de cincuenta años! Está buena porque tiene textos con las
                    mejores traducciones.</p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>

            <div class="swiper-slide box">
                <img src="/assets/image/pic-6.png" alt="">
                <h3>Alexa White</h3>
                <p>El material está bien expuesto en su web y los empleados brindan asesoranmiento y una buena
                    atención.</p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>

        </div>

    </div>

</section>

<!-- reviews seccion -->

<!-- blogs seccion  -->

<section class="blogs" id="blogs">

    <h1 class="heading"> <span>Nuestro blog</span> </h1>

    <div class="swiper blogs-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide box">
                <div class="image">
                    <img src="/assets/image/blog-1.jpg" alt="">
                </div>
                <div class="content">
                    <h3>¿Qué pasa cuando uno lee?</h3>
                    <p>nuestro cerebro comienza a desarrollar habilidades imaginativas y de concentración</p>
                    <a href="#" class="btn">read more</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="image">
                    <img src="/assets/image/blog-2.jpg" alt="">
                </div>
                <div class="content">
                    <h3>¿Qué sentido tiene leer?</h3>
                    <p>Leer es concebir la comprensión como un proceso que inicia con la decodificación </p>
                    <a href="#" class="btn">read more</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="image">
                    <img src="/assets/image/blog-3.jpg" alt="">
                </div>
                <div class="content">
                    <h3>23 de abril Mundial del Libro</h3>
                    <p>fecha en que se conmemora historias y hechos que transportan a los fanáticos. </p>
                    <a href="#" class="btn">read more</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="image">
                    <img src="/assets/image/blog-4.jpg" alt="">
                </div>
                <div class="content">
                    <h3>10 beneficios de leer </h3>
                    <p>Los libros son un recurso imprescindible permiten imaginar, descubrir, y conocer.</p>
                    <a href="#" class="btn">read more</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="image">
                    <img src="/assets/image/blog-5.jpg" alt="">
                </div>
                <div class="content">
                    <h3>Disfruta de los libros infantiles</h3>
                    <p>Como a muchos niños de su edad, a la protagonista de este libro le encanta leer.</p>
                    <a href="#" class="btn">read more</a>
                </div>
            </div>

        </div>

    </div>

</section>

<!-- Final seccion del blog -->

<!-- comienza la sección de pie de página  -->

<section class="footer">

    {{!-- <div class="box-container">

        <div class="box">
            <h3>Mí Ubicación </h3>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> india </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> USA </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> russia </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> francia </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> japón </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> África </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> Rep. Dominicana </a>
        </div>

        <div class="box">
            <h3>Enlaces Rápidos </h3>
            <a href="#"> <i class="fas fa-arrow-right"></i> home </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> featured </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> arrivals </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> reviews </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> blogs </a>
        </div>

        <div class="box">
            <h3>extra links</h3>
            <a href="#"> <i class="fas fa-arrow-right"></i> información de la cuenta </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> artículos Pedidos </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> Política de privacidad </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> Opciones de pagos </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> Nuestros servicios </a>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <a href="#"> <i class="fas fa-phone"></i> 809-123-4567 </a>
            <a href="#"> <i class="fas fa-phone"></i> 809-191-2345 </a>
            <a href="#"> <i class="fas fa-envelope"></i> FMRMS@gmail.com </a>
            <img src="/assets/image/worldmap.png" class="map" alt="">
        </div>

    </div> --}}

    <div class="share">
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-instagram"></a>
        <a href="#" class="fab fa-linkedin"></a>
        <a href="#" class="fab fa-pinterest"></a>
    </div>

    <div class="credit"> created by <span>Al mejor gurpo más fabuloso </span> | Derechos reservados! </div>

</section>

<!-- Termina la sección de pie de página -->

<!-- loader  -->

<div class="loader-container">
    <img src="/assets/image/Loader 3.gif" alt="">
</div>